#spinne.content-load
	%img.logo-load{:src => "/assets/img/load_omnitours.png"}/
	%img.omni-logo-load{:src => "/assets/img/logotipo.png"}/
	%p.title-payment PAGA SEGURO
	%p.title-methods CON CUALQUIERA DE ESTOS MEDIOS
	%img.methods-payment{:src => "/assets/img/logos_bank"}/