%footer#footer
	.footer
		.footer-cuadro
			.info-omni.container
				.col-xs-6.col-md-4.col-lg-4.border-info-omni
					.jquery-plugin-left
						%a{:href => "", :target => "_blank"}
							%p Condiciones de reserva
						%a{:href => "https://www.omnitours.com.co/Portals/159/Skins/omnitours-redesign/explotacion_sexual_infantil.pdf", :target => "_blank"}
							%p Explotación Infantil
						%a{:href => "https://www.omnitours.com.co/Portals/159/Skins/omnitours-redesign/proteccion_de_datos.pdf", :target => "_blank"}
							%p Protección de datos
						%a{:href => "https://www.omnitours.com.co/Portals/159/Skins/omnitours-redesign/politicas_sostenibilidad.pdf ", :target => "_blank"}
							%p Política de sostenibilidad
						%a{:href => "https://www.omnitours.com.co/Portals/159/Skins/omnitours-redesign/politicas_uso.pdf", :target => "_blank"}
							%p Términos de uso
				.col-xs-12.col-md-4.col-sm-12.col-lg-4.separacion-info-omni
					%p
						%span Teléfono
						(+571) 756 2614 / 805 6000
					%p
						%span Whatsapp
						(+57) 310 306 1660
					%p
						%span Skype
						OmnitoursColombia
					%p
						%span Correo
						info@omnitours.com.co
					%p Calle 54 A #15-76
					%p Bogotá D.C. Colombia
				.col-xs-6.col-md-4.col-lg-4.visible-lg.visible-md.solicitudes-footer
					%p
						%span Solicitudes desde colombia
					%p ventas@omnitours.com.co
					%p ventas1@omnitours.com.co
					%br/
					%p
						%span Solicitudes fuera de colombia
					%p comercial2@omnitours.com.co
			.metodos-pago.row
				%div
					%center
						.col-lg-6.col-md-6.col-xs-12.col-sm-12.border-metodos-omni
							.col-lg-12.col-md-12.col-xs-12.col-sm-12
								%img.pagos{:src => "/assets/img/pagos_omnitours.png"}/
						.col-lg-6.col-md-6.col-xs-12.col-sm-12.separacion-metodos-omni
							.col-lg-12.col-md-12.col-xs-12.col-sm-12
								%img.certificados{:src => "/assets/img/certificados_onmnitours.png"}/
			.info-final-omni.container
				%center
					%p OMNI TOURS COLOMBIA LTDA RNT - 7873 | Diseño y Desarrollo por
					%a{:alt => "", :href => "https://www.slicegroup.xyz"} Slice Group
					%p &amp;
					%a{:href => "https://www.netactica.com"} Netactica


	%script{:src => "/assets/js/jquery-3.2.1.min.js"}
	%script{:src => "/assets/js/bootstrap.min.js"}
	%script{:src => "/assets/js/main.js"}
	%script{:src => "/assets/js/mixitup-v2.1.11.min.js"}
	%script{:src => "/assets/js/filterMultiple.js"}
	%link{:href => "/assets/css/omnitours-new.css", :rel => "stylesheet", :type => "text/css"}/
	%link{:href => "/assets/css/responsive.css", :rel => "stylesheet", :type => "text/css"}/
	%link{:href => "/assets/css/new-design-card.css", :rel => "stylesheet", :type => "text/css"}/
	%link{:href => "/assets/css/filter.css", :rel => "stylesheet", :type => "text/css"}/
	%link{:href => "/assets/css/spinner-load.css", :rel => "stylesheet", :type => "text/css"}/
